<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Home</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li routerLinkActive='active'><a routerLink="/">Pizza</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form (ngSubmit) = "onSubmit(f)" #f= "ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input
              type="text"
              id ="name"
              class="form-control"
              name = "name"
              ngModel
              required>
              <button type="button" class="btn btn-primary" type="submit" [disabled] = "!f.valid">Log In</button>
            </div>
          </form>
        </li>
        <li>
          <button type="button" class="btn btn-success" routerLink="/shopping-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
              </path>
            </svg>
            Shopping Cart
          </button>
        </li>
        <!-- <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class=dropdown-menu>
            <li><a style="cursor: pointer;" (click)="onSaveData()"> Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()"> Fetch Data</a></li>
          </ul>
        </li> -->

      </ul>
    </div>
  </div>
</nav>
